{{> head }}

    {{> navbar }}
    
    <div class="col-8">
        <h1>T440p</h1>
        <p>
            Lenovo Co.
        </p>
    </div>
    
    <div class="col-4">
        <img src="assets/img/thk.jpg" class="img-thumbnail">
    </div>

    {{> footer}}